/* ---------------------------------------- */
/* BASE */
/* ---------------------------------------- */
/*
RESET
*/
*, ::after, ::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
fieldset {
  padding: 0;
  border: none;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*
VARIABLES
*/
:root {
  --color-reservia: #0065fc;
  --color-reservia--light: #deebff;
  --color-sncd--light: #f2f2f2;
  --color-font--default: #111;
  --font-family: 'Raleway', sans-serif;
  --font-weight--bold: 700;
  --font-weight--normal: 400;
  --font-weight--light: 300;
  --font-size--small: 1.4rem;
  --font-size--default: 1.6rem;
  --font-size--large: 1.8rem;
  --font-size--xlarge: 2.4rem;
  --line-height--default: 1.5;
  --gutter--default: 2rem;
}
@media screen and (min-width: 600px) {
  :root {
    --gutter--default: 4rem;
  }
}

/*
CONTENT
*/
body {
  font-family: var(--font-family);
  color: var(--color-font--default);
  font-weight: var(--font-weight--normal);
  font-size: var(--font-size--default);
  line-height: var(--line-height--default);
}
h1, h2 {
  font-size: var(--font-size--xlarge); 
}
h3 {
  font-size: var(--font-size--large); 
}
h4 {
  font-size: var(--font-size--small); 
}
a {
  color: var(--color-font--default);
  text-decoration: none;
}
a:hover {
  color: var(--color-reservia);
}
img {
  max-width: 100%;
  height: auto;
}

/* ---------------------------------------- */
/* UTILITIES */
/* ---------------------------------------- */
/*
LAYOUT
*/
/* .ctn {
  padding-left: var(--gutter--default);
  padding-right: var(--gutter--default);
} */
@media screen and (min-width: 600px) {
  .ctn {
    max-width: 1340px;
    margin: auto;
  }
}
/* ---------------------------------------- */
/* LAYOUT */
/* ---------------------------------------- */
/*
HEADER
*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .header {
    flex-wrap: nowrap;
  }
}
.header-logo {
  grid-area: headerLogo;
}
.header-nav {
  grid-area: headerNav;
}
.header-link {
  grid-area: headerLink;
  color: var(--color-reservia);
  font-weight: var(--font-weight--bold);
}
@media screen and (min-width: 750px) {
  .header-link {
    order: 2;
  }
}
.header-logo, .header-link {
  padding: 2rem;
}
.header-nav-tabs {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .header-nav-tabs {
    width: auto;
    margin-left: auto;
  }
}
.header-nav-tabs-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
  border-bottom: 3px solid var(--color-sncd--light);
}
@media screen and (min-width: 750px) {
  .header-nav-tabs-link {
    padding: 4.5rem 2.5rem;
    border-bottom: 0;
  }
}
.header-nav-tabs-link--active {
  color: var(--color-reservia);
  border-color: var(--color-reservia);
}
@media screen and (min-width: 750px) {
  .header-nav-tabs-link--active {
    border-top: 3px solid var(--color-reservia);
  }
}

/*
FOOTER
*/
.footer-wrap {
  padding: 4rem 2.5rem 1rem;
  background-color: var(--color-sncd--light);
}
.footer-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.footer-title {
  font-size: var(--font-size--large);
  margin-bottom: 1.5rem;
}
.footer-link {
  display: inline-block;
  padding: 0.5rem 0;
}
.footer-section {
  margin-bottom: 3rem;
}

/*
MAIN STRUCTURE
*/
.main {
  display: grid;
  grid-gap: 4rem;
  grid-template-areas:
  "accsearch"
  "accpopular"
  "accomodations"
  "activities";
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 600px) {
  .main {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "accsearch accsearch"
    "accomodations accpopular"
    "activities activities";
  }
}
.accomodations-search-wrap {
  grid-area: accsearch;
}
.accomodations-main {
  grid-area: accomodations;
}
.accomodations-popular {
  grid-area: accpopular;
}
.activities {
  grid-area: activities;
  margin-top: 4.5rem;
  padding: 2rem;
}
@media screen and (min-width: 600px) {
  .activities {
    grid-area: activities;
    margin-top: 4.5rem;
  }
}
@media screen and (min-width: 1480px) {
  .activities {
    padding: 0;
  }
}
.main-section-title {
  margin-bottom: 1.5rem;
}

/*
ACCOMODATIONS
*/
.accomodations-popular-link {
  display: flex;
}
.accomodations-popular-picture {
  width: 40%;
  object-fit: cover;
}
.accomodations-popular-content {
  padding: 1rem 1.5rem 0.5rem;
}
.accomodations-main-list {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.accomodations-main-list li, .accomodations-popular li {
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 15px #ccc;
  border: 5px solid #fff;
}
.accomodations-popular {
  background-color: var(--color-sncd--light);
}
.accomodations-popular ul {
  display: grid;
  grid-gap: 3rem;
}
.accomodations-main, .accomodations-popular {
  padding: 2rem;
}
@media screen and (min-width: 600px) {
  .accomodations-main {
    background-color: var(--color-sncd--light);
  }
  .accomodations-main, .accomodations-popular {
    padding: 4rem;
    border-radius: 2rem;
  }
}

/*
ACTIVITIES
*/
.activities-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  grid-gap: 4rem;
}
.activities-list-item {
  display: block;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 15px #ccc;
}
.activities-list-img {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .activities-list-item1 img,
  .activities-list-item4 img {
    width: auto;
    height: calc(100% - 5.5rem);
  }
}
.activities-list-title {
  padding: 1.5rem;
}

/* 
SEARCH
*/
.accomodations-search {
  display: inline-flex;
  margin-top: 1.5rem;
}
.accomodations-search-input-field, .accomodations-search-btn {
  height: 5rem;
  padding: 1.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size--large);
  font-weight: var(--font-weight--bold);
}
.accomodations-search-input-field {
  border: 1px solid var(--color-sncd--light);
}
.accomodations-search-btn {
  background-color: var(--color-reservia);
  color: #fff;
  border-radius: 0 1.5rem 1.5rem 0;
}
.accomodations-search-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  background-color: var(--color-sncd--light);
  border-radius: 1.5REM 0 0 1.5rem;
  font-size: var(--font-size--large); 
}
/*
FILTERS
*/
.accomodations-filters {
  margin: 2.5rem 0;
}
.accomodations-filters, .accomodations-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.accomodations-filter {
  position: relative;
  margin-bottom: 1rem;
}
.accomodations-filters-legend {
  margin-right: 2.5rem;
  font-weight: var(--font-weight--bold);
}
.accomodations-filter-ico {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-reservia--light);
  color: var(--color-reservia);
  border-radius: 3rem;
}
.accomodations-filter-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-right: 2.5rem;
  padding: 1rem 2rem 1rem 6rem;
  font-weight: var(--font-weight--bold);
  border: 2px solid #d9d9d9;
  border-radius: 3rem;
}
